
@{
    ViewBag.Title = "FirmaKaydet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-elements-inline">
                            <h5 class="card-title">Firma ekle</h5>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Firma adı</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="firmaAdi">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Telefon</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="telefon">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">E-posta</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="ePosta">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Adres</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="adres">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Yetkili kişi</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="yetkiliKisi">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Açılış tarihi</label>
                                <div class="col-lg-10">
                                    <input type="date" class="form-control" id="tarih" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-lg-2 col-form-label">Açılış bakiyesi</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="acilisBakiyesi">
                                </div>
                            </div>

                            <div class="text-right">
                                <button type="button" class="btn btn-primary" onclick="FirmaKaydet()">Kaydet <i class="icon-paperplane ml-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="~/Scriptler/Tanimlar/Firma.js">

    FirmaKaydet();

</script>
