

@using MYARCH.DTO.EEntity
@{
    var kAdi = "";
    var sifre = "";
    var rutbe = "";

}

@{if (Session["SessionContext"] == null)
    {
        Response.Redirect("/Login");

    }

    else
    {
        kAdi = ((SessionContext)Session["SessionContext"]).kullanici_adi;
        sifre = ((SessionContext)Session["SessionContext"]).sifre;
        rutbe = ((SessionContext)Session["SessionContext"]).rutbe;

    }
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BETO YAZILIM - BİNA YÖNETİM SİSTEMİ</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/global_assets/css/icons/icomoon/styles.css" rel="stylesheet" />

    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" />



    <link href="~/Content/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/layout.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/components.min.css" rel="stylesheet" />
    <link href="~/Content/assets/css/colors.min.css" rel="stylesheet" />
    <script src="~/Content/global_assets/js/main/jquery.min.js"></script>
    <script src="~/Content/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/loaders/blockui.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>
    <script src="~/Content/global_assets/js/demo_pages/form_checkboxes_radios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
    <script src="~/Content/global_assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/forms/styling/uniform.min.js"></script>

    <script src="~/Content/global_assets/js/demo_pages/form_layouts.js"></script>

    <link href="~/Content/assets/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/assets/css/asProgress.css" rel="stylesheet" />
    <script src="~/Content/Custom/Js/jquery-asProgress.js"></script>

    <script src="~/Content/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/Content/global_assets/js/demo_pages/datatables_basic.js"></script>


    <script src="~/Content/global_assets/js/plugins/uploaders/dropzone.min.js"></script>
    <script src="~/Content/global_assets/js/demo_pages/uploader_dropzone.js"></script>

    <script src="~/Content/global_assets/js/plugins/uploaders/fileinput/plugins/purify.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/uploaders/fileinput/plugins/sortable.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/uploaders/fileinput/fileinput.min.js"></script>
    <script src="~/Content/assets/js/app.js"></script>
    <script src="~/Content/global_assets/js/demo_pages/uploader_bootstrap.js"></script>

    <link href="~/Content/devextreme/css/dx.common.css" rel="stylesheet" />
    <link href="~/Content/devextreme/css/dx.material.orange.light.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.2/jszip.min.js"></script>
    <script src="~/Content/devextreme/js/dx.all.js"></script>

    <script src="~/Content/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script src="~/Content/global_assets/js/plugins/notifications/noty.min.js"></script>

    <link href="~/Content/Custom/css/custom.css" rel="stylesheet" />
    <script src="~/Scriptler/myscript/scripts.js"></script>

    @*<script src="~/Content/global_assets/js/demo_pages/form_inputs.js"></script>*@
    <!-- /theme JS files -->
    <script src="~/Content/myScript.js"></script>
    <link href="~/Content/Toastr/toastr.min.css" rel="stylesheet" />
    <script>
        function geriGit() {
            window.history.back();
        }
    </script>
</head>

<body>

    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-light">
        <div class="navbar-header navbar-dark d-none d-md-flex align-items-md-center">
            <div class="navbar-brand">
                <a href="/default" class="d-inline-block">
                    <img src="~/Content/global_assets/images/biyonsis_white.png" style="height:50px;" />
                </a>
            </div>
        </div>
    
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>

                <li class="nav-item dropdown">


                    <div class="dropdown-menu dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Git updates</span>
                            <a href="#" class="text-default"><i class="icon-sync"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Drop the IE <a href="#">specific hacks</a> for temporal inputs
                                        <div class="text-muted font-size-sm">4 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-warning text-warning rounded-round border-2 btn-icon"><i class="icon-git-commit"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Add full font overrides for popovers and tooltips
                                        <div class="text-muted font-size-sm">36 minutes ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-info text-info rounded-round border-2 btn-icon"><i class="icon-git-branch"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Chris Arney</a> created a new <span class="font-weight-semibold">Design</span> branch
                                        <div class="text-muted font-size-sm">2 hours ago</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-success text-success rounded-round border-2 btn-icon"><i class="icon-git-merge"></i></a>
                                    </div>

                                    <div class="media-body">
                                        <a href="#">Eugene Kopyov</a> merged <span class="font-weight-semibold">Master</span> and <span class="font-weight-semibold">Dev</span> branches
                                        <div class="text-muted font-size-sm">Dec 18, 18:36</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn bg-transparent border-primary text-primary rounded-round border-2 btn-icon"><i class="icon-git-pull-request"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Have Carousel ignore keyboard events
                                        <div class="text-muted font-size-sm">Dec 12, 05:46</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All updates</a>
                            <div>
                                <a href="#" class="text-grey" data-popup="tooltip" title="Mark all as read"><i class="icon-radio-unchecked"></i></a>
                                <a href="#" class="text-grey ml-2" data-popup="tooltip" title="Bug tracker"><i class="icon-bug2"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <span class="navbar-text ml-md-3 mr-md-auto">

            </span>

            <ul class="navbar-nav">
                <li class="nav-item dropdown">


                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-300">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Users online</span>
                            <a href="#" class="text-default"><i class="icon-search4 font-size-base"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Jordana Ansley</a>
                                        <span class="d-block text-muted font-size-sm">Lead web developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Will Brason</a>
                                        <span class="d-block text-muted font-size-sm">Marketing manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-danger"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Hanna Walden</a>
                                        <span class="d-block text-muted font-size-sm">Project manager</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-success"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Dori Laperriere</a>
                                        <span class="d-block text-muted font-size-sm">Business developer</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-warning-300"></span></div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="media-title font-weight-semibold">Vanessa Aurelius</a>
                                        <span class="d-block text-muted font-size-sm">UX expert</span>
                                    </div>
                                    <div class="ml-3 align-self-center"><span class="badge badge-mark border-grey-400"></span></div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="text-grey mr-auto">All users</a>
                            <a href="#" class="text-grey"><i class="icon-gear"></i></a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle caret-0" data-toggle="dropdown">

                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-md-350">
                        <div class="dropdown-content-header">
                            <span class="font-weight-semibold">Messages</span>
                            <a href="#" class="text-default"><i class="icon-compose"></i></a>
                        </div>

                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">James Alexander</span>
                                                <span class="text-muted float-right font-size-sm">04:58</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">who knows, maybe that would be the best thing for me...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3 position-relative">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>

                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Margo Baker</span>
                                                <span class="text-muted float-right font-size-sm">12:16</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">That was something he was unable to do because...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Jeremy Victorino</span>
                                                <span class="text-muted float-right font-size-sm">22:48</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">But that would be extremely strained and suspicious...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Beatrix Diaz</span>
                                                <span class="text-muted float-right font-size-sm">Tue</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">What a strenuous career it is that I've chosen...</span>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="36" height="36" class="rounded-circle" alt="">
                                    </div>
                                    <div class="media-body">
                                        <div class="media-title">
                                            <a href="#">
                                                <span class="font-weight-semibold">Richard Vango</span>
                                                <span class="text-muted float-right font-size-sm">Mon</span>
                                            </a>
                                        </div>

                                        <span class="text-muted">Other travelling salesmen live a life of luxury...</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer justify-content-center p-0">
                            <a href="#" class="bg-light text-grey w-100 py-2" data-popup="tooltip" title="Load more"><i class="icon-menu7 d-block top-0"></i></a>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="../../../../global_assets/images/placeholders/placeholder.jpg" class="rounded-circle" alt="">
                        <span>@kAdi</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i>Profil</a>
                        <a href="/Login/LogOut" class="dropdown-item"><i class="icon-switch2"></i> Çıkış</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                @*<div class="sidebar-user">
                        <div class="card-body">
                            <div class="media">
                                <div class="mr-3">
                                    <a href="#"><img src="../../../../global_assets/images/placeholders/placeholder.jpg" width="38" height="38" class="rounded-circle" alt=""></a>
                                </div>

                                <div class="media-body">

                                </div>


                            </div>
                        </div>
                    </div>*@

                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">


                        <!-- Main -->

                        @if (rutbe != "user")
                        {

                            <li class="nav-item">
                                <a href="/Default" class="nav-link">
                                    <i class="icon-home4"></i>
                                    <span>
                                        AnaSayfa
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item ">
                                <a href="/Kisiler" class="nav-link"><i class="icon-user"></i> <span>Kişiler</span></a>
                            </li>


                            @*<li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="icon-user"></i> <span>Kişiler</span></a>

                                    <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                        <li class="nav-item"><a href="/Kisiler/Pasif" class="nav-link">Kişi listesi</a></li>

                                    </ul>
                                    <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                        <li class="nav-item"><a href="/Kisiler" class="nav-link">Aktif kişi listesi</a></li>

                                    </ul>
                                </li>*@

                            <li class="nav-item">
                                <a href="/BagimsizBolum" class="nav-link"><i class="icon-home2"></i> <span>Bağımsız Bölümler</span></a>
                            </li>


                            <li class="nav-item">
                                <a href="/TopluBorclandir" class="nav-link"><i class="icon-price-tags"></i> <span>Toplu Borçlandır </span></a>

                            </li>


                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-price-tag"></i> <span>Finansal İşlemler</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/HesapHaraket" class="nav-link">Borçlandırmalar</a></li>

                                </ul>
                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/HesapHaraket/TahsilatListesi" class="nav-link">Tahsilatlar</a></li>

                                </ul>
                            </li>

                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-price-tag2"></i> <span>Muhtelif İşlemler</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Muhtelif/Liste" class="nav-link">Muhtelif İşlem Listesi</a></li>

                                </ul>

                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Muhtelif/Ekle" class="nav-link">Başlık ekle</a></li>

                                </ul>
                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Muhtelif/Basliklar" class="nav-link">Başlık listesi</a></li>

                                </ul>
                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Muhtelif/MuhtelifBanka" class="nav-link">Banka hareketi</a></li>

                                </ul>
                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Muhtelif/MuhtelifKasa" class="nav-link">Kasa hareketi</a></li>
                                </ul>


                            </li>

                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-add"></i> <span>Tanımlar</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Tanimlar/Bloklar" class="nav-link">Blok</a></li>
                                    <li class="nav-item"><a href="/Tanimlar/BorclandirmaTuru/" class="nav-link">Borçlandırma türleri</a></li>
                                    <li class="nav-item"><a href="/Tanimlar/Tipler/" class="nav-link">Tipler</a></li>

                                    <li class="nav-item nav-item-submenu">
                                        <a href="#" class="nav-link"> Kasa</a>
                                        <ul class="nav nav-group-sub">
                                            <li class="nav-item"><a href="/Tanimlar/KasaKaydet/" class="nav-link">Yeni kasa</a></li>
                                            <li class="nav-item"><a href="/Tanimlar/Kasa" class="nav-link">Kasa listesi</a></li>
                                            <li class="nav-item"><a href="/Tanimlar/KasaHareket" class="nav-link">Kasa haraket</a></li>

                                        </ul>
                                    </li>
                                    <li class="nav-item nav-item-submenu">
                                        <a href="#" class="nav-link"> Banka</a>
                                        <ul class="nav nav-group-sub">
                                            <li class="nav-item"><a href="/Tanimlar/BankaKaydet/" class="nav-link">Yeni banka</a></li>
                                            <li class="nav-item"><a href="/Tanimlar/Banka" class="nav-link">Banka listesi</a></li>
                                            <li class="nav-item"><a href="/Tanimlar/BankaHareket" class="nav-link">Banka haraket</a></li>

                                        </ul>
                                    </li>
                                    <li class="nav-item"><a href="/Tanimlar/Personel/" class="nav-link">Personeller</a></li>
                                    <li class="nav-item"><a href="/Tanimlar/Firma/" class="nav-link">Firma</a></li>
                                    <li class="nav-item nav-item-submenu">
                                        <a href="#" class="nav-link"> Sayac</a>
                                        <ul class="nav nav-group-sub">
                                            <li class="nav-item"><a href="/Tanimlar/SayacTipleri/" class="nav-link"> Sayaç tipi ekle</a></li>
                                            <li class="nav-item"><a href="/Tanimlar/OrtakAlanDagitim/" class="nav-link"> Ortak alan dağıtım ekle</a></li>
                                            <li class="nav-item"><a href="/Tanimlar/Sayac/" class="nav-link"> Ana sayaçlar</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>

                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-copy"></i> <span>Parametreler</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Parametreler/AidatGun/" class="nav-link">Borçlandırma günü</a></li>

                                </ul>
                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Parametreler/VadeGunSayisi" class="nav-link">Vade Gün Sayısı</a></li>

                                </ul>
                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Parametreler/YakitTanimla" class="nav-link">Yakit tanımla</a></li>

                                </ul>
                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Parametreler/YakitTanimla" class="nav-link">Toplam arsa payı</a></li>

                                </ul>
                            </li>

                            <li class="nav-item ">
                                <a href="/Hesapharaket/TahsilatTakip" class="nav-link"><i class="icon-address-book"></i> <span>Dönemsel Kontrol</span></a>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="icon-cube"></i> <span>Raporlar</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Layout">

                                    <li class="nav-item nav-item-submenu">
                                        <a href="#" class="nav-link">Vadesi bekleyen borçlar</a>
                                        <ul class="nav nav-group-sub">
                                            <li class="nav-item"><a href="/Raporlar/VadesiBekleyenAidat/" class="nav-link">Aidat</a></li>
                                            <li class="nav-item"><a href="/Raporlar/VadesiBekleyenDemirbas" class="nav-link">Demirbaş</a></li>
                                            <li class="nav-item"><a href="/Raporlar/VadesiBekleyenYakit" class="nav-link">Yakıt</a></li>
                                            @*<li class="nav-item"><a href="/Raporlar/VadesiBekleyenTumu" class="nav-link">Tümü</a></li>*@

                                        </ul>
                                    </li>
                                    <li class="nav-item nav-item-submenu">
                                        <a href="#" class="nav-link"> Vadesi geçen borçlar</a>
                                        <ul class="nav nav-group-sub">
                                            <li class="nav-item"><a href="/Raporlar/VadesiGecenAidat" class="nav-link">Aidat</a></li>
                                            <li class="nav-item"><a href="/Raporlar/VadesiGecenDemirbas" class="nav-link">Demirbaş</a></li>
                                            <li class="nav-item"><a href="/Raporlar/VadesiGecenYakit" class="nav-link">Yakıt</a></li>
                                            @*<li class="nav-item"><a href="/Raporlar/VadesiGecenTumu" class="nav-link">Tümü</a></li>*@

                                        </ul>
                                    </li>
                                    <li class="nav-item"><a href="/Raporlar/BagimsizAlanHesabi" class="nav-link">Bağımsız alan hesabı</a></li>

                                </ul>
                            </li>
                            <li class="nav-item nav-item-submenu">
                                <a href="#" class="nav-link"><i class="dx-icon-message"></i> <span>Sms İşlemleri</span></a>

                                <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                    <li class="nav-item"><a href="/Sms" class="nav-link">Sms listesi</a></li>
                                    <li class="nav-item"><a href="/Sms/Kaydet" class="nav-link">Sms Gönder</a></li>
                                    <li class="nav-item"><a href="/Sms/BorcSms" class="nav-link">Borçlu kişi sms</a></li>

                                </ul>
                            </li>
                            @*<li class="nav-item nav-item-submenu">
                                    <a href="#" class="nav-link"><i class="dx-icon-upload"></i> <span>Dosya işlemleri</span></a>

                                    <ul class="nav nav-group-sub" data-submenu-title="Layout">
                                        <li class="nav-item"><a href="/Dosya" class="nav-link">Dosya ekle</a></li>
                                        <li class="nav-item"><a href="/Sms/Kaydet" class="nav-link">Sms Gönder</a></li>
                                        <li class="nav-item"><a href="/Sms/BorcSms" class="nav-link">Borçlu kişi sms</a></li>

                                    </ul>
                                </li>*@
                            @*<li class="nav-item">
                                    <a href="#" class="nav-link"><i class="icon-people"></i> <span>Kullanıcılar</span></a>
                                </li>*@

                        }

                        else
                        {
                            var kisiId = ((SessionContext)Session["SessionContext"]).kisi_id;

                            <li class="nav-item">
                                <a href="/kisiler/kisi/@kisiId" class="nav-link">
                                    <i class="icon-price-tag"></i>
                                    <span>
                                        Hesap Hareketlerim
                                    </span>
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/KisiDuzenle/@kisiId" class="nav-link">
                                    <i class="icon-profile"></i>
                                    <span>
                                        Profil Duzenle
                                    </span>
                                </a>
                            </li>

                        }

                        <!-- /page kits -->

                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->

        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            @*<div class="page-header page-header-light">
                    <div class="page-header-content header-elements-md-inline">
                        <div class="page-title d-flex">


                        </div>

                        <div class="header-elements d-none">
                            <div class="d-flex justify-content-center">
                                <a href="/@this.ViewContext.RouteData.Values["controller"]" class="btn btn-link btn-float text-default"><i class="icon-cancel-circle2 text-primary"></i><span></span></a>

                            </div>
                        </div>
                    </div>


                </div>*@
            <!-- /page header -->
            <!-- Content area -->
            <div class="content">

                @RenderBody()

            </div>
            <!-- /content area -->
            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; Beto Yazılım Bina Yönetim Sistemi
                    </span>

                    @*<ul class="navbar-nav ml-lg-auto">
                            <li class="nav-item"><a href="https://kopyov.ticksy.com/" class="navbar-nav-link" target="_blank"><i class="icon-cart2 mr-2"></i> Support</a></li>
                            <li class="nav-item"><a href="http://demo.interface.club/limitless/docs/" class="navbar-nav-link" target="_blank"><i class="icon-file-text2 mr-2"></i> Docs</a></li>
                            <li class="nav-item"><a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold"><span class="text-pink-400"><i class="icon-cart2 mr-2"></i> Purchase</span></a></li>
                        </ul>*@
                </div>
            </div>
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</body>
</html>
<script src="~/Content/Toastr/toastr.min.js"></script>
