
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<MYARCH.DTO.EEntity.EBagimsizBolumlerDTO>


<script>
    $(function () {

        var popup = $("#popup").dxPopover({
            width: 200,
            height: 150,
            showEvent: "mouseenter",
            hideEvent: "mouseleave",
        }).dxPopover("instance");


       var personeller =  @Html.Raw(Json.Encode(Model));
       var dataGrid = $("#bagimsziBolumler").dxDataGrid({
           dataSource: personeller,

           loadPanel: {
               enabled: true // or false | "auto"
           },
           onCellHoverChanged: function (e) {

               //if (e.column.dataField == "katmaliki" && e.data.katmaliki != null) {

               //    var katMalikiId = e.data.katmaliki_id;
               //    console.log("test");
               //    $.ajax({
               //        url: "/Kisiler/KatmalikiDetay/",
               //        type: "POST",
               //        data: { katmaliki_id: katMalikiId },
               //        success: function (response) {
               //            if (response) {

               //                console.log(response.adres);
               //                popup.option("contentTemplate",
               //                    function (contentElement) {
               //                        $("<div/>")

               //                            .append('Tc: ' + response.tc + "<br><br>",'Adres: '+ response.adres + "<br><br>",'Telefon: ' + response.tel1)
               //                            .appendTo(contentElement)
               //                        console.log(e.data.katmaliki_id);
               //                    });

               //                popup.option("target", e.cellElement);
               //                popup.show();
               //            }
               //            else {
               //                Uyari("error", MesajBasarisiz);

               //            }
               //        }
               //    });


               //}



               //if (e.column.dataField == "kiracı" && e.data.kiracı != null) {
               //    var kiraciId = e.data.kiraci_id;

               //    $.ajax({
               //        url: "/Kisiler/KiraciDetay/",
               //        type: "POST",
               //        data: { kiraci_id: kiraciId },
               //        success: function (response) {
               //            if (response) {

               //                console.log(response.adres);
               //                popup.option("contentTemplate",
               //                    function (contentElement) {
               //                        $("<div/>")

               //                            .append('Tc: ' + response.tc + "<br><br>",'Adres: '+response.adres + "<br><br>", response.tel1)
               //                            .appendTo(contentElement)
               //                        console.log(e.data.katmaliki_id);
               //                    });

               //                popup.option("target", e.cellElement);
               //                popup.show();
               //            }
               //            else {
               //                Uyari("error", MesajBasarisiz);

               //            }
               //        }
               //    });
               //}

               //else {
               //    popup.hide();
               //}
           },

           "export": {
               enabled: true,
               fileName: "Bagimsiz bolumler",

           },

            keyExpr: "id",
            showBorders: true,
            columnAutoWidth: true,
            hoverStateEnabled: true,
            filterRow: { visible: false, applyFilter: "auto" },
            paging: { pageSize: 10 },
            showColumnLines: true,
            rowAlternationEnabled: true,
            selection: {
                mode: "single"
            },
            searchPanel: {
                width: 350,
                visible: true
            },
            headerFilter: {
                visible: true
            },

            filterRow: {
                visible: true,
                applyFilter: "auto"
            },

            editing: {
                mode: "popup",

                //allowDeleting: true,

            },



            columns: [

                {
                    dataField: "id",
                    caption: "id",
                    visible: false,
                },
                {
                    dataField: "kiraci_id",
                    caption: "Kiracı id",
                    visible: false,
                },
                {
                    dataField: "katmaliki_id",
                    caption: "Katmaliki id",
                    visible: false,
                },
                {
                    dataField: "katmaliki",
                    caption: "Kat Maliki",

                },
                {
                    dataField: "kiracı",
                    caption: "Kiracı",
                },

                {
                    dataField: "daire_numarasi",
                    caption: "Kapı Numarası",
                },
                {
                    dataField: "petek_boyu",
                    caption: "Petek Boyu",
                },
                {
                    dataField: "kat",
                    caption: "Kat",
                },
                {
                    dataField: "su_abone_no",
                    caption: "Su Abone No",
                },
                    {
                    dataField: "elektrik_abone_no",
                    caption: "Eelektrik Abone No",
                },
                {
                    dataField: "blok_adi",
                    caption: "Blok Adı",
                },
                {
                    dataField: "daire_katsayisi",
                    caption: "Daire Katsayisi",
                },


                //{
                //    dataField: "toplam",
                //    caption: "Bakiye",
                //},

                //{
                //    caption: "",
                //    width: 120,

                //    allowFiltering: false,
                //    allowSorting: false,
                //    //cssClass: "text-center",
                //    cellTemplate: function (container, options) {
                //        $('<button type="button" onclick="test()" class="btn btn-primary">Düzenle</button>').appendTo(container);
                //    }
                //}

            ],
            summary: {
                totalItems: [{
                    column: "katmaliki",
                    summaryType: "count",
                    customizeText: function (data) {
                        return "Toplam daire sayısı: " + data.value;
                    }

                },

                ]
            },

            onToolbarPreparing: function (e) {
                var toolbarItems = e.toolbarOptions.items;
                var searchPanel = $.grep(toolbarItems, function (item) {
                    return item.name === "searchPanel";
                })[0];
                searchPanel.location = "after";

                toolbarItems.push({
                    text: "Bağımsız Bölümler",
                    location: "before"
                });

            },


            onSelectionChanged: function (selectedItems) {
                let data = selectedItems.selectedRowsData[0];
                if (data) {
                    window.location = "/BagimsizBolum/Detay/"+data.id;
                }
            },

            onRowRemoving: function (e) {

                var id = e.data["id"];

                if (id != null) {

                    Sil("/Tanimlar/BlokSil",id,"Silme işlemi başarılı","İşlem sırasında bir hata meydana geldi")
                }
                else {
                    Uyari("error", "Hata meydana geldi");
                }
           },

           onCellPrepared: function (e) {
               if (e.rowType === "data" && e.column.dataField === "toplam") {
                   e.cellElement.css("color", "#d82b2b");
               }
               if (e.rowType === "data" && e.column.dataField === "katmaliki") {

                   e.cellElement.css("color", "red");
               }
                 if (e.rowType === "data" && e.column.dataField === "kiracı") {

                   e.cellElement.css("color", "blue");
               }
           },






       }).dxDataGrid("instance");


    });



    function BlokKaydet() {
        var blokAdi = document.getElementById("blokAdi").value;
        var daireSayisi = document.getElementById("daireSayisi").value;



        var model = {
            blok_adi: blokAdi,
            daire_sayisi: daireSayisi
        };


        if (model != null || model != '')
        {
            Kaydet("/Tanimlar/BlokKaydet", model,  "Kayıt işlemi başarılı", "/Tanimlar/Bloklar","İşlem sırasında bir hata meydana geldi")
        }

        else {
            Uyari("error", "Hata meydana geldi");
        }

    }


    function BlokGuncelle() {
        var blokAdiGuncelle = document.getElementById("blokAdiGuncelle").value;
        var daireSayisi = document.getElementById("daireSayisiGuncelle").value;
        var id = document.getElementById("id").value;

        var model = {
            blok_adi: blokAdiGuncelle,
            daire_sayisi: daireSayisi,
            id: id
        };


        if (model != null || model != '') {
            Guncelle("/Tanimlar/BlokGuncelle", model,"Güncelleme işlemi başarılı","/Tanimlar/Bloklar", "İşlem sırasında bir hata meydana geldi")
        }
        else {
            Uyari("error", "Hata meydana geldi");
        }


    }


</script>



<div class="row">
    <div class="col-md-12">

        <div class="card">
            <div class="demo-container">

                <div id="bagimsziBolumler">

                </div>

            </div>
            <div id="popup"></div>
        </div>
    </div>
</div>

