
@using MYARCH.DTO.EEntity

<div id="kisiListesi" class="modal fade show dname" tabindex="-1" style="display:none; padding-right: 17px; ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Kişi listesi</h6>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>isim</th>
                                <th>telefon</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (EKisiDTO kisiler in ViewBag.Kisiler)
                            {
                                <tr>
                                    <td>@kisiler.id</td>
                                    <td>@kisiler.isim</td>
                                    <td>@kisiler.tel1</td>
                                    <td>@kisiler.bagimsiz_id</td>
                                    <td><button type="button" class="btn btn-orange">Seç</button></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>
